<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"
            tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />

    <application
            android:name=".App"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/Theme.ClockYou"
            tools:targetApi="33">
        <activity
                android:name=".presentation.widgets.DigitalClockWidgetConfig"
                android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.widgets.VerticalClockWidgetConfig"
                android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.widgets.AnalogClockWidgetConfig"
                android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.MainActivity"
                android:exported="true"
                android:theme="@style/Theme.ClockYou">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SET_ALARM" />
                <action android:name="android.intent.action.SET_TIMER" />
                <action android:name="android.intent.action.SHOW_ALARMS" />
                <action android:name="android.intent.action.SHOW_TIMERS" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
                android:name=".presentation.screens.alarm.AlarmActivity"
                android:configChanges="orientation|keyboardHidden|keyboard|navigation"
                android:excludeFromRecents="true"
                android:launchMode="singleInstance"
                android:taskAffinity=""
                android:theme="@style/Theme.ClockYou" />

        <receiver
                android:name=".util.receivers.AlarmReceiver"
                android:exported="false" />
        <receiver
                android:name=".util.receivers.BootReceiver"
                android:directBootAware="true"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
                android:name=".util.services.StopwatchService"
                android:exported="false"
                android:foregroundServiceType="specialUse">
            <property
                    android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                    android:value="stopwatch" />
        </service>
        <service
                android:name=".util.services.TimerService"
                android:exported="false"
                android:foregroundServiceType="specialUse">
            <property
                    android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                    android:value="timer" />
        </service>
        <service
                android:name=".util.services.AlarmService"
                android:exported="false"
                android:foregroundServiceType="specialUse">
            <property
                    android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                    android:value="alarm" />
        </service>

        <receiver android:name=".util.receivers.DeleteNotificationChannelReceiver"
            android:enabled="true"
            android:exported="false">

        </receiver>

        <receiver
                android:name=".presentation.widgets.DigitalClockWidget"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/digital_clock_widget" />
        </receiver>
        <receiver
                android:name=".presentation.widgets.VerticalClockWidget"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/vertical_clock_widget" />
        </receiver>
        <receiver
                android:name=".presentation.widgets.AnalogClockWidget"
                android:enabled="true"
                android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/analog_clock_widget" />
        </receiver>
    </application>

</manifest>